.banner {
  background-image: url("../../images/background.png");
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;

}

.banner h1, .banner p {
  color: #ffffff;
  margin: 0
}

.banner p {
  opacity: .7;
  font-size: 20px;
  margin: 20px 0;
}

.banner a {
  display: inline-block;
  margin:top
}

.btn {
  padding: 15px 40px;
  color: #ffffff;
  background-color: #1EDD88;
  border-radius: 50px;
}
